  input {
            outline: none;
        }
        .container {
            width: 950px;
            height: 500px;
            border:1px solid #333;
            margin: 0 15%;
            padding: 1%;
        }
        h1 {
            width: auto;
            text-align: center;
            padding: 1%;
            font-family: 'Arial',sans-serif;
        }
        #congr {
            width: 100%;
            height: 20px;
            color:lightgreen;
            text-align: center;
            font-family: 'Arial',sans-serif;
            opacity:0
        } 
        #mist {
            width: 100%;
            height: 20px;
            color:red;
            text-align: center;
            font-family: 'Arial',sans-serif;
            opacity:0
        }
        .task {
            width: auto;
            height: 100px;
            padding: 1%;
        }
        .stroke {
            width: 60%;
            margin: 0 20%;
            text-align: center;
            font-family: 'Arial',sans-serif;
            font-size: 25px;
            display:flex;
            align-items: center;
            justify-content: center
        }
        .stroke span {
            height: 50px;
            display: flex;
            align-items: center;
            text-align: center;
        }
        #inp3 {
            text-align: center;
            width: 30px;
            margin: 1% 1%;
            font-size: 25px;
            font-family: 'Arial',sans-serif;
            border-radius: 3px;
            border:1px solid #333;
        }
        .picture {
            width: auto;
            height: 150px;
            padding: 1%;
            margin: 4% 0;
            position: relative
        }
        .picture input {
            border:1px solid #333;
            border-radius: 3px;
            text-align: center
        }
        .picture img {
            position: absolute;
            bottom: 0;
            width: 98%;
        }
        .path {
            display: block;
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            animation: dash 10s linear forwards;
        }
        .path2 {
            display:none;
            
        }
        .anim {
            stroke-dasharray: 3000;
            stroke-dashoffset: 3000;
            animation: dash 10s linear forwards;
        }

        @keyframes dash {
          to {
            stroke-dashoffset: 0;
          }
        }